body {
  margin: 0;
  background-color: rgb(180, 162, 237);
  padding-left: 50px;
  padding-right: 50px;
}

button, a, input, select{
  cursor: pointer;
}

.item {
  padding-right: 20px;
  color: blue;
}

.item a{
  color: blue;
  font-size: large;
  font-weight: bolder;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
  margin: 0 auto;
  padding-left: 15%;
}

.cards__item {
  flex-basis: 20%;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
}

.topBar {
  display: flex;
  border-bottom: #0a0a0a 10px solid;
  padding: auto;
  margin-bottom: 50px;
  
}

#shoppingList {
  display: flex;
}

#shoppingList p{
  height: 10px;
  /*border-right: rgb(180, 162, 237) 50px solid; */
  padding: 10px;
  cursor: pointer;
}

.log {
  float: right;
}

.field {
  color: red;
}

.field a {
  color: blue;
  text-decoration: underline;
}

#logInPage {
  background-color: #00000068;
  border-radius: 13px;
  text-align: center;
  margin: 0px auto;
  margin-top: 80px;
  width: 350px;
  height: 400px;
}

#logInPage h1{
  padding-top: 60px;
  color: #ffffff;
}

#logInPage .input-box{
  margin-top: 30px;
}

#logInPage .input-box input{
  border: none;
  background: none;
  border-bottom: #ffffff 2px solid;
  padding: 5px 10px;
  outline: none;
  color: #ffffff;
}

#logInPage button{
  line-height: 30px;
  margin-top: 30px;
  width: 130px;
  height: 30px;
  border-radius: 13px;
  outline: none;
  border: none;
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  color: #ffffff;
  cursor: pointer;
}

#logInPage button:hover{
  background-image: linear-gradient(to top, #30cfd0, #330867 100%);
}

#welcome {
  font-size: 30px;
  color: #fefefe;
  text-shadow: 0 0 0.5em #0ae642, 0 0 0.2em #5c5c5c;
  padding-left: 40%;
}

#fail {
  color: rgb(243, 241, 241);
  font-size: large;
  font-weight: bold;
}
